models/*.pt filter=lfs diff=lfs merge=lfs -text
models/**/*.pt filter=lfs diff=lfs merge=lfs -text
datasets/**/*.jpg filter=lfs diff=lfs merge=lfs -text
datasets/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
runs/**/*.jpg filter=lfs diff=lfs merge=lfs -text
runs/**/*.png filter=lfs diff=lfs merge=lfs -text
assets/**/*.npy filter=lfs diff=lfs merge=lfs -text
